body {
  background-color: #e7e7e7;
  font-family: 'Lato', sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
}

h2 {
  font-family: 'PT Sans', sans-serif;
  font-size: 25px;
  line-height: 30px;
  color: #404040;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: white;
}

a {
  text-decoration: none;
  color: #fe346e;
}

a:hover {
  text-decoration: none;
  color: #ae1e47;
  box-shadow: 0 4px 4px rgba(0,0,0,.3);
}

.banner {
  background-image: url("https://source.unsplash.com/pHnzdSAEkRM");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: #FFFFFF;
  background-blend-mode: luminosity;
  color: white;
  padding: 100px 0;
  text-align: center;
}

.banner h2{
  color: white;
}

.banner p {
  font-style: italic;
  font-weight: bold;
}

.banner .container {
  position: relative;
  bottom: 20px;
}

a.social {
  color: #fe346e;
  font-size: 40px;
  margin: 10px;
}

a.social:hover {
  color: #ae1e47;
  margin: 10px;
  font-size: 40px;
  box-shadow: none;
}

.img_round{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.btn-rose {
  background-color: #fe346e;
  color: white;
  padding: 5px 20px;
  border-radius: 4px;
}

.container {
width: 600px;
margin: 20px auto;
}

@media (max-width: 720px) {
.container {
width: 400px;
margin: 20px auto;
}
}

@media (max-width: 540px) {
.container {
width: 300px;
margin: 20px auto;
}
}

.card_heading {
  border-bottom: 1px dashed #aaa;
  text-align: center;
}

.card {
  padding: 10px;
  text-align: center;
}

.list-inline {
  list-style: none;
  padding: 0;
}

.list-inline li {
  display: inline-block;
}

.icone-mail {
position: absolute;
right: 30px;
top: 30px;
font-size: 30px;
}

.icone-mail:hover {
  color: #ae1e47;
  box-shadow: none;
}

.hobbies-card {
  float: left;
  width: 31%;
  padding: 0 1%;
  margin: -30px 0 50px 0;
}

.hobbies-card img {
  width: 100%;
  height: 150px;
}

.hobbies-card h3 {
  float: left;
  position: relative;
  top: 150px;
  left: 30px;
}
