body {
  background-color: #e7e7e7;
  font-family: 'Lato', sans-serif;
  color: #000000;
  font-size: 15px;
  line-height: 20px;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  color: #2c003e;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #512b58;
  font-size: 25px;
  line-height: 30px;
}

a {
  text-decoration: none;
  color: #fe346e;
}

a:hover {
  text-decoration: none;
  color: #ae1e47;
  box-shadow: 0 4px 4px rgba(0,0,0,.3);
}

a.social {
  color: #fe346e;
  font-size: 40px;
  margin: 10px;
}

a.social:hover {
  color: #ae1e47;
  margin: 10px;
  font-size: 40px;
  box-shadow: none;
}

.img_round{
  border-radius: 50%;
}

.btn-rose {
  background-color: #fe346e;
  color: white;
  padding: 5px 20px;
  border-radius: 4px;
}

.container {
width: 600px;
margin: 20px auto;
}

@media (max-width: 720px) {
.container {
width: 400px;
margin: 20px auto;
}
}

@media (max-width: 540px) {
.container {
width: 300px;
margin: 20px auto;
}
}

.card {
  background: white;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  border-radius: 4px;
  text-align: center;
  margin: 20px;
}

.list-inline {
  list-style: none;
  padding: 0;
}

.list-inline li {
  display: inline-block;
}
