.banner {
  background-image: url("https://source.unsplash.com/pHnzdSAEkRM");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: #FFFFFF;
  background-blend-mode: luminosity;
  color: white;
  height: 100vh;
  text-align: center;
}

.banner-container {
  padding-top: 10vh;
  }

.banner h2{
  color: white;
}

.banner p {
  font-style: italic;
  font-weight: bold;
}

.banner .container {
  position: relative;
  bottom: 20px;
}
