.btn-social {
  color: #fe346e;
  font-size: 32px;
  margin: 10px;
}

.btn-social:hover {
  color: #ae1e47;
  margin: 10px;
  font-size: 32px;
  box-shadow: none;
}

.btn-rose {
  background-color: #fe346e;
  color: white;
  padding: 5px 20px;
  border-radius: 4px;
}

.btn-rose:hover {
  box-shadow: 2px 2px rgba(94, 94, 94, 0.5);
  text-decoration: none;
  color: rgb(212, 212, 212);
}
