.card-project {
  color: white;
  font-weight: bold;
  background-position: center;
  background-size: cover;
  height: 30vh;
  border-radius: 8px;
  width: 30%;
}

.card-project > a {
  font-size: 24px;
  text-shadow: 1px 1px #2e2e2e;
  margin: 0;
  color: white;
}

.card-project > a:hover {
  text-decoration: none;
  color: #fe346e;
  box-shadow: none;
}
