.cards {
  display: flex;
  justify-content: space-around;
  padding: 20px 0px;
}

.card-category {
  display: flex;
  color: white;
  font-weight: bold;
  position: relative;
}

.card-category > img {
  border-radius: 8px;
  height: 100px;
  width: 150px;
  box-shadow: 2px 2px 4px #999999;
}

.card-category > h3 {
  position: absolute;
  text-shadow: 1px 1px 2px #999999;
  margin: 0;
  bottom: 15px;
  left: 15px;
}
